@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,500;0,700;1,100;1,400;1,500&display=swap');

body {
    background-color: black;
    color: white;
}

* {
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;

}

.left {
    padding: 10px;
    width: 25vw;
}

.right {
    width: 75vw;
}


.home ul li {

    width: 20px;
    display: flex;
    gap: 21px;
    list-style: none;
    padding: 5px;
    font-weight: bold
}

.bgblack {
    background-color: black;
    color: white;

}


.invert {
    filter: invert(1);
}

.bgdiffblack {
    background-color: #121212;
}


.home {
    padding: 10px;
}

.heading {
    width: 20px;
    display: flex;
    gap: 21px;
    list-style: none;
    padding: 5px;
    font-weight: bold;
    align-items: center;
    font-size: 13px;
}

h2 {
    font-size: smaller;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    color: grey;
    font-size: 10px;
    gap: 13px;
    position: absolute;
    bottom: 0;
    padding-bottom: 30px;
}

.footer a {
    color: grey;


    padding: 1px;

}

.library {
    min-height: 80vh;
    position: relative;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 4px;
    background-color: #281f1f;

}

.header * {
    padding: 4px;

}

.right {

    margin: 13px;
    max-width: 20000;
    position: relative;

}

.spotify-playlists {
    padding: 10px;
}

.card_container {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    overflow-y: scroll;
    max-height: 60vh;

}

.card {
    width: 150px;
    margin: 10px;
    padding-top: 10px;
    background-color: #222121;
    position: relative;
}

.play {
    position: absolute;
    top: 120px;
    right: 15px;
    opacity: 0;
    transition: all 1s ease-out;
}

.card img {
    width: 100%;
    object-fit: contain;

}

.signbtn {
    background-color: black;
    color: rgb(206, 179, 179);
    font-weight: bold;
    border: none;
    outline: none;
    background-color: #281f1f;
    cursor: pointer;
    font-size: 14px;

}

.buttons>* {
    margin: 0px 12px;
}

.signbtn:hover {
    font-size: 15px;
    color: white;
}

.loginbtn {

    background-color: white;
    width: 91px;
    border-radius: 9999px;
    color: black;
    font-weight: bold;
    padding: 10px;
    cursor: pointer;
    font-size: 14px;

}

.loginbtn:hover {
    font-size: 15px;
    font-weight: bold;
}


.playbar {
    position: absolute;
    bottom: 0px;
    background-color: rgb(25, 130, 25);
    width: 100%;
    padding: 12px;

}
.songbuttons{
    display: flex;
    justify-content: center;
    gap:10px;
}